In [1]:
import pandas as pd
import random

In [2]:
N=10

x = pd.date_range(start='2018-03-11 18:00', periods=N, freq='60S').tolist()
y = [random.random()]*N

In [17]:
df = pd.DataFrame(columns=['time', 'temp'])
df['time'] = x
df['temp'] = y
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>time</th>
      <th>temp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018-03-11 18:00:00</td>
      <td>0.812378</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018-03-11 18:01:00</td>
      <td>0.812378</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018-03-11 18:02:00</td>
      <td>0.812378</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018-03-11 18:03:00</td>
      <td>0.812378</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018-03-11 18:04:00</td>
      <td>0.812378</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
t = pd.to_datetime('2018-03-11 18:30')

In [22]:
df_i = df.copy(deep=True)
df_i.index = df['time']

In [23]:
print(df_i)

                                   time      temp
time
2018-03-11 18:00:00 2018-03-11 18:00:00  0.812378
2018-03-11 18:01:00 2018-03-11 18:01:00  0.812378
2018-03-11 18:02:00 2018-03-11 18:02:00  0.812378
2018-03-11 18:03:00 2018-03-11 18:03:00  0.812378
2018-03-11 18:04:00 2018-03-11 18:04:00  0.812378
2018-03-11 18:05:00 2018-03-11 18:05:00  0.812378
2018-03-11 18:06:00 2018-03-11 18:06:00  0.812378
2018-03-11 18:07:00 2018-03-11 18:07:00  0.812378
2018-03-11 18:08:00 2018-03-11 18:08:00  0.812378
2018-03-11 18:09:00 2018-03-11 18:09:00  0.812378

In [24]:
new_row = [t, 25.0]
new_row

[Timestamp('2018-03-11 18:30:00'), 25.0]

In [25]:
df_i.loc[t] = new_row
print(df_i)

                                   time       temp
time
2018-03-11 18:00:00 2018-03-11 18:00:00   0.812378
2018-03-11 18:01:00 2018-03-11 18:01:00   0.812378
2018-03-11 18:02:00 2018-03-11 18:02:00   0.812378
2018-03-11 18:03:00 2018-03-11 18:03:00   0.812378
2018-03-11 18:04:00 2018-03-11 18:04:00   0.812378
2018-03-11 18:05:00 2018-03-11 18:05:00   0.812378
2018-03-11 18:06:00 2018-03-11 18:06:00   0.812378
2018-03-11 18:07:00 2018-03-11 18:07:00   0.812378
2018-03-11 18:08:00 2018-03-11 18:08:00   0.812378
2018-03-11 18:09:00 2018-03-11 18:09:00   0.812378
2018-03-11 18:30:00 2018-03-11 18:30:00  25.000000